<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Document</title>
</head>
<body>
   <form action="/result" method = "POST">
    <div>
        <div><label for="cars">Your Name:</label><input type="text" name = "name"/></div><br>
        <div>
            <label for="cars">Dojo Location:</label>
            <select name = 'location'>
                <option>Volvo</option>
                <option>Saab</option>
                <option>Audi</option>
            </select>
        </div>
        <br>
        <div>
            <label for="cars">Favorite Language:</label>
        <select name = "language">
            <option>Nablus</option>
            <option>Ramallah</option>
            <option>Hebron</option>
        </select>
        </div>
        <br>
        <div>
            <label for="cars">Comment:</label>
            <br>
                <textarea name="textarea" rows="10" cols="30"></textarea>
        </div>
        <input type="submit"  value="Button">
    </div>
   </form>
</body>
</html>